Repository sp-uulm/MiniLua, pull requests merged in 2021-02, with the labels that each got.

#94 Documentation
  .clang-tidy
  include/MiniLua/MiniLua.hpp
  include/MiniLua/interpreter.hpp
  include/MiniLua/source_change.hpp
  include/MiniLua/sourcechange.hpp
  include/MiniLua/stdlib.hpp
  include/MiniLua/utils.hpp
  include/MiniLua/values.hpp
  luaprograms/unit_tests/counter.lua
  src/CMakeLists.txt
  src/details/interpreter.cpp
  src/details/interpreter.hpp
  src/index.md
  src/interpreter.cpp
  tests/integration_tests.cpp
Labels: A-docs

#96 Create allocator for the interpreter
  include/MiniLua/allocator.hpp
  include/MiniLua/environment.hpp
  include/MiniLua/values.hpp
  src/allocator.cpp
  src/details/ast.cpp
  src/details/interpreter.cpp
  src/environment.cpp
  src/internal_env.cpp
  src/internal_env.hpp
  src/interpreter.cpp
  src/math.cpp
  src/table.cpp
  src/table.hpp
  src/values.cpp
  tests/CMakeLists.txt
  tests/gc.cpp
  tests/integration_tests.cpp
  tests/public_api/integration_tests.cpp
  tests/public_api/origin.cpp
  tests/public_api/values.cpp
  tests/stdlib_tests.cpp
  tests/tree_sitter_ast_tests.cpp
Labels: A-interpreter

#108 Add discard_origin to stdlib
  include/MiniLua/stdlib.hpp
  luaprograms/counting_up.lua
  scripts/bin.sh
  src/stdlib.cpp
  tests/stdlib_tests.cpp
Labels: A-stdlib

#102 Implement length operator (`#`) correctly for tables
  include/MiniLua/values.hpp
  luaprograms/unit_tests/literals/table.lua
  src/table.cpp
  src/table.hpp
  src/values.cpp
Labels: A-interpreter

#109 Allow loading stdlib from a lua file
  CMakeLists.txt
  bin/main.cpp
  include/MiniLua/environment.hpp
  include/MiniLua/source_change.hpp
  include/MiniLua/stdlib.hpp
  include/MiniLua/values.hpp
  include/tree_sitter/tree_sitter.hpp
  src/CMakeLists.txt
  src/details/interpreter.cpp
  src/details/interpreter.hpp
  src/index.md
  src/internal_env.cpp
  src/internal_env.hpp
  src/interpreter.cpp
  src/lua/stdlib.lua
  src/source_change.cpp
  src/stdlib.cpp
  src/table.cpp
  src/tree_sitter/tree_sitter.cpp
  src/values.cpp
  tests/integration_tests.cpp
  tests/public_api/integration_tests.cpp
  tests/stdlib_tests.cpp
Labels: A-interpreter, A-stdlib

#89 Add origin tracking
  include/MiniLua/environment.hpp
  include/MiniLua/values.hpp
  src/math.cpp
  src/values.cpp
  tests/math_tests.cpp
  tests/public_api/environment.cpp
Labels: A-stdlib
